*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  --bg-color-sidebar: #0284c7;
  --bg-color-content: lightgray;
  --bg-color-search-bar: lightgray;
  --color-sidebar: white;
  --bg-color-button: #0284c7;
  overflow: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#sidebar {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--bg-color-sidebar);
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  color: var(--color-sidebar);
  gap: 25px;
}

#sidebar #logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

#navigation > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

#navigation,
#user-options {
  line-height: 2.5;
}

#user-options > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

#header {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 150px;
  justify-content: center;
  align-items: center;
}

#searchbar {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
}

.search-input {
  width: 75%; /* Adjust this value */
}

#searchbar,
#user-info {
  padding-left: 20px;
}

.search-button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
}

.search-input {
  background-color: rgb(243, 243, 243);
  border: none;
  border-radius: 15px;
  padding-left: 20px;
}

#user-notif {
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.notification {
  width: 20px;
  height: 20px;
}

#user-notif img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
#user-info {
  display: flex;
  grid-area: 2 / 1 / 3 / 2;
  gap: 15px;
  align-items: center;
  line-height: 1.2;
  padding: 5px 0px 10px 35px;
}

#user-info img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

#user-info > div:nth-child(2) > p:first-of-type {
  font-size: 10px;
  font-weight: bold;
}

#user-info > div:nth-child(2) > p:last-child {
  font-weight: bold;
  font-size: 1.3em;
}

#user-info p {
  margin: 0;
}

#buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  gap: 30px;
  justify-content: center;
}

#buttons button {
  background-color: var(--bg-color-button);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 4px 25px;
  font-size: 13px;
}

#content {
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--bg-color-content);
}

#projects {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px auto;
  gap: 15px;
  margin: 10px 15px;
  background-color: var(--bg-color-content);
}

#projects h4 {
  grid-area: 1 /1 / 2 / 3;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 5px solid orange;
  border-radius: 1.5%;
  background-color: white;
}

#content h4 {
  font-size: 1.2em;
  font-weight: bold;
}

#content p {
  line-height: 1;
}

.project-info {
  padding: 0px 20px;
}

.p-icons {
  width: 20px;
  height: 20px;
}

.projects h5 {
  font-weight: bold;
  font-size: 1.05em;
}

.interaction {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  padding-right: 20px;
  gap: 20px;
}

#announcements {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto;
  margin: 10px 15px 10px 5px;
  gap: 15px;
}

#announcements div {
  background-color: white;
}

#announcements h5 {
  font-weight: bold;
}

#announcements p {
  font-size: 14px;
  line-height: 1.2;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 0px auto;
  width: 85%;
}

.announcements {
  background-color: white;
  padding: 20px;
}

#trending {
  grid-area: 2 / 2 / 3 / 3;
  margin: 10px 15px 10px 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto;
}

.trending {
  background-color: white;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.trending-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.trending > div {
  display: grid;
  grid-auto-flow: column;
}

.trending-info p:first-child {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.trending-info > div {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.trending img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.dashboard {
  width: 30px;
  height: 30px;
}

.icons {
  width: 20px;
  height: 20px;
}
